
.gradient-text_b {
    background-image: linear-gradient(to right, #2200ff, #ff00ae);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
  
  .gradient-text_r {
    background-image: linear-gradient(to right, #1e00ff, #ff0101);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }



.table-responsive {
    overflow-x: auto; /* Add horizontal scrolling */
  }
  
  @media (max-width: 767px) {
    /* For smaller screens */
    .table-responsive table {
      font-size: 12px; /* Adjust font size for smaller screens */
      width: 100%; /* Adjust table width for smaller screens */
    }
  
    .navbar-brand {
      font-size: 18px; /* Decrease font size for smaller screens */
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* For tablets */
    .table-responsive table {
      font-size: 14px; /* Adjust font size for tablets */
      width: 100%; /* Adjust table width for tablets */
    }
  
    .navbar-brand {
      font-size: 22px; /* Adjust font size for tablets */
    }
  }
  
  @media (min-width: 992px) {
    /* For laptops/desktops */
    .table-responsive table {
      font-size: 16px; /* Default font size for laptops/desktops */
    }
  
    .navbar-brand {
      font-size: 25px; /* Restore font size for laptops/desktops */
    }
  }
  
  
  