.options-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  margin-bottom: 20px;
  /* Add margin to the bottom */
}

.options {
  display: flex;
  justify-content: center;
}

.option-button {
  display: none;
}

.option-button+label {
  background-color: transparent;
  color: #000;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: lighter;

}

.option-button:checked+label {
  background-color: #007bff;
  color: #fff;
  transition: all 0.3s ease;
}

.option-button+label:not(:first-of-type) {
  margin-left: 10px;
}

.option-button:checked+label:first-of-type {
  margin-right: 10px;
}


.gradient-text_b {
  background-image: linear-gradient(to right, #2200ff, #ff00ae);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-text_r {
  background-image: linear-gradient(to right, #1e00ff, #ff0101);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* for table to make them responsive */

.table-responsive {
  overflow-x: auto; /* Add horizontal scrolling */
}

@media (max-width: 767px) {
  /* For smaller screens */
  .table-responsive table {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* For tablets */
  .table-responsive table {
    font-size: 14px; /* Adjust font size for tablets */
  }
}

@media (min-width: 992px) {
  /* For laptops/desktops */
  .table-responsive table {
    font-size: 16px; /* Default font size for laptops/desktops */
  }
}


